<div class="container" id="painelAdm">

  <nav id="navPainelAdm">
    <div class="nav nav-tabs" id="nav-tab" role="tablist">
      <a class="nav-item nav-link active" id="nav-carousel-tab" data-toggle="tab" href="#nav-carousel" role="tab"
        aria-controls="nav-carousel" aria-selected="true">Carousel</a>
      <a class="nav-item nav-link" id="nav-services-tab" data-toggle="tab" href="#nav-services" role="tab"
        aria-controls="nav-services" aria-selected="false">Serviços</a>
      <a class="nav-item nav-link" id="nav-about-tab" data-toggle="tab" href="#nav-about" role="tab"
        aria-controls="nav-about" aria-selected="false">Sobre</a>
      <a class="nav-item nav-link" id="nav-contact-tab" data-toggle="tab" href="#nav-contact" role="tab"
        aria-controls="nav-contact" aria-selected="false">Contato</a>
    </div>
  </nav>

  <div class="tab-content" id="nav-tabContent">

    <!-- Carousel -->
    <div class="tab-pane fade show active" id="nav-carousel" role="tabpanel" aria-labelledby="nav-carousel-tab">
      <div class="container">
        <div class="row">
          <div class="col-md-5">

            <form id="listaCarousel" #carouselForm="ngForm" (ngSubmit)="addCarousel(carouselForm)"  >

              <input type="hidden" name="_id" #_id="ngModel" [(ngModel)]="carouselService.carouselSelecionado._id" >

              <div class="form-group">
                <input type="text" class="form-control" id="formGroupExampleInput" placeholder="Titulo da Imagem" 
                  name="titulo" #titulo="ngModel" [(ngModel)]="carouselService.carouselSelecionado.titulo" >
              </div>

              <div class="input-group">
                <div class="custom-file">
                  <input type="file" class="custom-file-input" id="inputGroupFile04"
                    aria-describedby="inputGroupFileAddon04">
                  <label class="custom-file-label" for="inputGroupFile04">Escolha a imagem</label>
                </div>
              </div>

              <div class="form-group">
                <button type="button" class="btn btn-outline-success btn-block" id="listaCarousel" (click)="addCarousel(carouselForm)" >Salvar</button>
              </div>

            </form>

          </div>
          <div class="col-md-7" id="listaCarousel">
            <ul class="list-group">

              <li *ngFor="let item of carouselService.carousel" class="list-group-item d-flex justify-content-between align-items-center list-group-item-action">
                <img src="http://lorempixel.com/output/animals-q-c-640-480-3.jpg" alt="" id="zoom"> <!-- imagem temporaria -->
                <h6>{{ item.titulo }}</h6>
                <span class="badge">
                  <button (click)="editCarousel(item)"
                          class="btn btn-outline-info" id="btnOperacoes" >
                    <i class="fas fa-pen"></i>
                  </button>
                  <button (click)="deleteCarousel(item._id)" 
                          class="btn btn-outline-danger" id="btnOperacoes" >
                    <i class="fas fa-trash"></i>
                  </button>
                </span>
              </li>
              
            </ul>
          </div>
        </div>
      </div>
    </div>

    <!-- Services -->
    <div class="tab-pane fade" id="nav-services" role="tabpanel" aria-labelledby="nav-services-tab">
      <div class="container">
        <div class="row">
          <div class="col-md-5">

            <form id="formServices" #serviceForm="ngForm" (ngSubmit)="addService(serviceForm)">
              <input type="hidden" name="_id" #_id="ngModel" [(ngModel)]="serviceService.selectedService._id">
              <div class="form-group row">
                <label for="inputTitle" class="col-sm-2 col-form-label">Titulo</label>
                <div class="col-sm-10">
                  <input type="text" class="form-control" id="inputTitle" placeholder="Titulo" name="title"
                    #title="ngModel" [(ngModel)]="serviceService.selectedService.title">
                </div>
              </div>

              <div class="form-group row">
                <label for="inputDescription" class="col-sm-2 col-form-label">Descrição</label>
                <div class="col-sm-10">
                  <textarea class="form-control" id="inputDescription" rows="6" placeholder="Descrição"
                    name="description" #description="ngModel"
                    [(ngModel)]="serviceService.selectedService.description"></textarea>
                </div>
              </div>

              <div class="form-group row">
                <div class="col-sm-2"></div>
                <div class="col-sm-10">
                  <button type="button" class="btn btn-outline-warning btn-block"
                    (click)="resetForm(serviceForm)">Clean</button>
                  <button type="button" class="btn btn-outline-success btn-block"
                    (click)="addService(serviceForm)">Salvar</button>
                </div>
              </div>

            </form>

          </div>

          <div class="col-md-7" id="listServices">
            <ul class="list-group">
              <li *ngFor="let item of serviceService.services"
                class="list-group-item d-flex justify-content-between align-items-center list-group-item-action">
                <h6>{{ item.title }} </h6>
                <p> {{ item.description }} </p>
                <span class="badge">
                  <button class="btn btn-outline-info" id="btnOperacoes" (click)="editService(item)">
                    <i class="fas fa-pen"></i>
                  </button>
                  <button class="btn btn-outline-danger" id="btnOperacoes" (click)="deleteServices(item._id)">
                    <i class="fas fa-trash"></i>
                  </button>
                </span>
              </li>
            </ul>
          </div>

        </div>
      </div>
    </div>

    <!-- About -->
    <div class="tab-pane fade" id="nav-about" role="tabpanel" aria-labelledby="nav-about-tab">
      <div class="container">
        <div class="row">
          <div class="col-md-6"></div>
          <div class="col-md-6"></div>
        </div>
      </div>
    </div>

    <!-- Contact -->
    <div class="tab-pane fade" id="nav-contact" role="tabpanel" aria-labelledby="nav-contact-tab">
      <div class="container">
        <div class="row">
          <div class="col-md-6"></div>
          <div class="col-md-6"></div>
        </div>
      </div>
    </div>
  </div>

</div>